<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <span class="orchid">ORCHID<span class="homes">HOMES</span></span>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <!-- <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" /> -->

        <h1 class="name">John Smith</h1>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/home">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button  nav-active" routerLink="/members">
            <mat-icon>person</mat-icon>
            <span>Members</span>
        </button>
        <button mat-button class="menu-button" routerLink="/societyexpense">
            <mat-icon>paid</mat-icon>
            <span>Society Expenses</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/notices">
            <mat-icon>note_add</mat-icon>
            <span>Notices</span>
        </button>

        <button mat-button class="menu-button" routerLink="/reminders">
            <mat-icon>notifications_active</mat-icon>
            <span>Reminders</span>
        </button>

        <button mat-button class="menu-button" (click)="logout()">
            <mat-icon>door_back</mat-icon>
            <span>LogOut</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content class="bg-light">
        <div class="content mat-elevation-z8">
            <!--header List Starts-->
            <mat-divider></mat-divider>
            <mat-card>
                <mat-card-content>
                    <mat-list role="list">
                        <div class="row">
                            <div class="col-lg-4">
                                <mat-list-item class="membersOverview"><mat-icon>person</mat-icon> Members</mat-list-item>
                            </div>
                            <div class="col-lg-4">
                                <mat-list-item class="membersOverview">
                                    <div class="register-form">
                                        <form class="form-inline">
                                          <div class="form-group">
                                              <mat-icon>search</mat-icon>
                                              <input type="text" class="form-control" placeholder="Search">
                                          </div>
                                          </form>
                                        </div>
                                </mat-list-item>
                            </div>
                            <div class="col-lg-4">
                                <mat-list-item class="buttonLabel">
                                    <button type="button" name="add"  class="btn-md buttonAdd">  Add New Member </button>
                                </mat-list-item>
                            </div>
                        </div>
                      </mat-list>
                </mat-card-content>
            </mat-card>
            <!--header List Ends-->

            <!--Title List Starts-->
            <mat-divider></mat-divider>
            <mat-card>
                <mat-card-content>
                    <mat-list role="list">
                        <div class="row">
                            <div class="col-lg-4">
                                <mat-list-item class="memberTitle" >Name</mat-list-item>
                            </div>
                            <div class="col-lg-4">
                                <mat-list-item class="memberTitle">House No.</mat-list-item>
                            </div>
                            <div class="col-lg-3">
                                <mat-list-item class="memberTitle">Unit Occupied</mat-list-item>
                            </div>
                        </div>
                        </mat-list>
                </mat-card-content>
            </mat-card>
            <!--Title List Ends-->
            
            <!--Mat-List Started-->
            <div >
            <mat-divider></mat-divider>
                <mat-list role="list">
                <div class="row">
                    <div class="col-lg-4">
                        <mat-list-item role="listitem">Yash Khule</mat-list-item>
                    </div>
                    <div class="col-lg-4">
                        <mat-list-item role="listitem">Flat No. A/17</mat-list-item>
                    </div>
                    <div class="col-lg-2">
                        <mat-list-item role="listitem">Empty</mat-list-item>
                    </div>
                    <div class="col-lg-1">
                        <mat-list-item role="listitem"><mat-icon>edit</mat-icon></mat-list-item>
                    </div>
                    <div class="col-lg-1">
                        <mat-list-item role="listitem"><mat-icon>delete</mat-icon></mat-list-item>
                    </div>
                </div>
                </mat-list>
                
                <mat-divider></mat-divider>
                <mat-list role="list">
                <div class="row">
                    <div class="col-lg-4">
                        <mat-list-item role="listitem">Yash Khule</mat-list-item>
                    </div>
                    <div class="col-lg-4">
                        <mat-list-item role="listitem">Flat No. A/17</mat-list-item>
                    </div>
                    <div class="col-lg-2">
                        <mat-list-item role="listitem">Empty</mat-list-item>
                    </div>
                    <div class="col-lg-1">
                        <mat-list-item role="listitem"><mat-icon>edit</mat-icon></mat-list-item>
                    </div>
                    <div class="col-lg-1">
                        <mat-list-item role="listitem"><mat-icon>delete</mat-icon></mat-list-item>
                    </div>
                </div>
                </mat-list>
                <mat-divider></mat-divider>
                <mat-list role="list">
                <div class="row">
                    <div class="col-lg-4">
                        <mat-list-item role="listitem">Yash Khule</mat-list-item>
                    </div>
                    <div class="col-lg-4">
                        <mat-list-item role="listitem">Flat No. A/17</mat-list-item>
                    </div>
                    <div class="col-lg-2">
                        <mat-list-item role="listitem">Empty</mat-list-item>
                    </div>
                    <div class="col-lg-1">
                        <mat-list-item role="listitem"><mat-icon>edit</mat-icon></mat-list-item>
                    </div>
                    <div class="col-lg-1">
                        <mat-list-item role="listitem"><mat-icon>delete</mat-icon></mat-list-item>
                    </div>
                </div>
                </mat-list>
                <mat-divider></mat-divider>
                <mat-list role="list">
                <div class="row">
                    <div class="col-lg-4">
                        <mat-list-item role="listitem">Yash Khule</mat-list-item>
                    </div>
                    <div class="col-lg-4">
                        <mat-list-item role="listitem">Flat No. A/17</mat-list-item>
                    </div>
                    <div class="col-lg-2">
                        <mat-list-item role="listitem">Empty</mat-list-item>
                    </div>
                    <div class="col-lg-1">
                        <mat-list-item role="listitem"><mat-icon>edit</mat-icon></mat-list-item>
                    </div>
                    <div class="col-lg-1">
                        <mat-list-item role="listitem"><mat-icon>delete</mat-icon></mat-list-item>
                    </div>
                </div>
                </mat-list>
                <mat-divider></mat-divider>
                <mat-list role="list">
                <div class="row">
                    <div class="col-lg-4">
                        <mat-list-item role="listitem">Yash Khule</mat-list-item>
                    </div>
                    <div class="col-lg-4">
                        <mat-list-item role="listitem">Flat No. A/17</mat-list-item>
                    </div>
                    <div class="col-lg-2">
                        <mat-list-item role="listitem">Empty</mat-list-item>
                    </div>
                    <div class="col-lg-1">
                        <mat-list-item role="listitem"><mat-icon>edit</mat-icon></mat-list-item>
                    </div>
                    <div class="col-lg-1">
                        <mat-list-item role="listitem"><mat-icon>delete</mat-icon></mat-list-item>
                    </div>
                </div>
                </mat-list>
                <mat-divider></mat-divider>
                <mat-list role="list">
                <div class="row">
                    <div class="col-lg-4">
                        <mat-list-item role="listitem">Yash Khule</mat-list-item>
                    </div>
                    <div class="col-lg-4">
                        <mat-list-item role="listitem">Flat No. A/17</mat-list-item>
                    </div>
                    <div class="col-lg-2">
                        <mat-list-item role="listitem">Empty</mat-list-item>
                    </div>
                    <div class="col-lg-1">
                        <mat-list-item role="listitem"><mat-icon>edit</mat-icon></mat-list-item>
                    </div>
                    <div class="col-lg-1">
                        <mat-list-item role="listitem"><mat-icon>delete</mat-icon></mat-list-item>
                    </div>
                </div>
                </mat-list>
                <mat-divider></mat-divider>
                <mat-list role="list">
                <div class="row">
                    <div class="col-lg-4">
                        <mat-list-item role="listitem">Yash Khule</mat-list-item>
                    </div>
                    <div class="col-lg-4">
                        <mat-list-item role="listitem">Flat No. A/17</mat-list-item>
                    </div>
                    <div class="col-lg-2">
                        <mat-list-item role="listitem">Empty</mat-list-item>
                    </div>
                    <div class="col-lg-1">
                        <mat-list-item role="listitem"><mat-icon>edit</mat-icon></mat-list-item>
                    </div>
                    <div class="col-lg-1">
                        <mat-list-item role="listitem"><mat-icon>delete</mat-icon></mat-list-item>
                    </div>
                </div>
                </mat-list>
        </div>
        <!--Mat-List Ended-->

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>