<ion-content>

  <!--Menu Starts-->
  <ion-menu side="start" content-id="main-content">

    <ion-content>
      <div class="menu-header-bg">
        <img src="../../assets/logo.png" alt="">
      </div>
      <div class="header-content">
        
      </div>
      <ion-list class="menu-items" lines="none">
        <!-- <ion-item (click)="openEnd()">
          <ion-label>language</ion-label>
          <ion-icon name="language"></ion-icon>
          <ion-select [(ngModel)]="selectedLanguage" (ionChange)="languageChanged()">
            <ion-select-option [style]="{ color: white, backgroundColor: black }" value="en">English</ion-select-option>
            <ion-select-option value="mr">मराठी</ion-select-option>
            <ion-select-option value="hi">हिन्दी</ion-select-option>
          </ion-select>
        </ion-item>
   -->

        <ion-item (click)="openEnd()">
          <ion-label>Profile</ion-label>
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-item>
  
        <ion-item (click)="openEnd()">
          <ion-label>Society Expenses</ion-label>
          <ion-icon name="logo-usd"></ion-icon>
        </ion-item>
  
        <ion-item (click)="openEnd()">
          <ion-label (click)="logOut()">Logout</ion-label>
          <ion-icon name="log-out"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
    <!--Menu Ends-->

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <span class="orchid">ORCHID</span><span class="homes">HOMES</span>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
          <div class="expensesOverview">
            <h3>EXPENSES OVERVIEW</h3>
          </div>

          <ion-grid>
            <ion-card>
              <ion-card-title>
                <h2 class="amountTitle">Total Amount</h2>
              </ion-card-title>
              <ion-card-content>
            
                <h1 class="amount">5678</h1>
                <hr>
                <!-- <p class="viewDetails">view details</p> -->
              </ion-card-content>
            </ion-card>
            
            <ion-card>
              <ion-card-title>
                <h2 class="amountTitle">Pending Amount</h2>
              </ion-card-title>
              <ion-card-content>
            
                <h1 class="amount">1678</h1>
                <hr>
                <!-- <p class="viewDetails">view details</p> -->
              </ion-card-content>
            </ion-card>
          </ion-grid>
      </ion-content>
  </div>


</ion-content>
