<ion-content>
  <ion-title>
  Notice
</ion-title>
<div >
<img src="../../assets/notice.jpg" alt="ion" class="image">
</div>
<ion-card class="card1">
  <ion-card-content>
    <p>Today their will be meeting at 7:00 pm sharp.Please do come on time.</p>
  </ion-card-content>
</ion-card>

<ion-card class="card2">
  <ion-card-content>
    <p>Today their will be meeting at 7:00 pm sharp.Please do come on time.</p>
  </ion-card-content>
</ion-card>
<ion-card class="card3">
  <ion-card-content>
    <p>Today their will be meeting at 7:00 pm sharp.Please do come on time.</p>
  </ion-card-content>
</ion-card>
</ion-content>
