  <ion-header>
    <ion-toolbar>
      <ion-title>
        <span class="orchid">NOTICES</span>
      </ion-title>
    </ion-toolbar>  
  </ion-header>

  <ion-content>
    <div>
      <ion-card class="logo">
        <ion-card-content>
          <img src="../../assets/logo.png" >
        </ion-card-content>
      </ion-card>
    </div>
    <hr>
          <ion-card>
            <ion-card-content>
              <p>
                Today there will be meeting at 7:00 pm sharp.
                Please do come on time.
              </p>
              <ion-row>
                <ion-col size="8">
                </ion-col>
                <ion-col size="4">
                  <span>
                    {{todayDate | date:'mediumDate'}}
                  </span>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>

          <hr>
          <ion-card>
            <ion-card-content>
              <p>
                Today there will be meeting at 7:00 pm sharp.
                Please do come on time.
              </p>
              <ion-row>
                <ion-col size="8">
                </ion-col>
                <ion-col size="4">
                  <span>
                    {{todayDate |date:'mediumDate'}}
                  </span>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>

          <hr>
          <ion-card>
            <ion-card-content>
              <p>
                Today there will be meeting at 7:00 pm sharp.
                Please do come on time.
              </p>
              <ion-row>
                <ion-col size="8">
                </ion-col>
                <ion-col size="4">
                  <span>
                    {{todayDate |date:'mediumDate'}}
                  </span>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>

          <hr>
          <ion-card>
            <ion-card-content>
              <p>
                Today there will be meeting at 7:00 pm sharp.
                Please do come on time.
              </p>
              <ion-row>
                <ion-col size="8">
                </ion-col>
                <ion-col size="4">
                  <span>
                    {{todayDate |date:'mediumDate'}}
                  </span>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>

  </ion-content>
