<ion-content>
  <div class="picture">
    <img src="../../assets/Screenshot__107_-removebg-preview.png" class="image">
  </div>
  <!--<div >
  <img src="../../assets/notice.jpg" alt="ion" class="image">
</div>-->

  <ion-label><h1><b><u>Attention Please!</u></b></h1></ion-label>

  <ion-label><p>You have some notices.</p></ion-label>
  <ion-card class="card1">
    <ion-card-content>
      <p>Today their will be meeting at 7:00 pm sharp.Please do come on time.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="card2">
    <ion-card-content>
      <p>Today their will be meeting at 7:00 pm sharp.Please do come on time.</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="card3">
    <ion-card-content>
      <p>Today their will be meeting at 7:00 pm sharp.Please do come on time.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
