<div>
  <!---Start navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar fixed-top  navbar-dark" style="background-color:red"> 
      <a class="navbar-brand" routerLink=''>
        <h4 class="popularDishesTitle" style="color: white;">SpoonCLick</h4> 
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
       <div class="collapse navbar-collapse" id="navbarText" style="cursor:pointer;">
         <ul class="navbar-nav ml-auto">
             <li class="nav-item">
               <a class="nav-link" routerLink=''>Home </a>
             </li>
           <li class="nav-item">
             <a class="nav-link" routerLink='/aboutus'>About Us</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" routerLink='/menu'>Menu</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" routerLink='/becomechef'>Become a Chef</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" routerLink='/becomerider'>Become a Rider</a>
           </li>
           <li class="nav-item active">
             <a class="nav-link" routerLink='/login'>SignIn/SignUp</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" routerLink=''>Contact</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" routerLink='/cart'>Cart</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" routerLink='/chefdashboard'>Chef Dashboard</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" routerLink='/riderdashboard'>Rider Dashboard</a>
           </li>
         </ul>
     </div>
   </nav>
   <!--- End Navigation Bar -->
   <!--START OF LOGIN FORM-->
<div style="margin-top: 7%;" >
  <h3 class="LoginTitle"> SIGN IN</h3> 
</div>
<div class="row" >
  <div class="col-lg-3">
  </div>
  <div class="col-lg-6">
      <mat-card class="bg-light"  style="margin-top: 2%">
      <div class="row">
          <div class="col-lg-2">
          </div>
          <div class="col-lg-8  register-form">
                  <mat-card-content >
              <form action="#">
                <div class="form-group">
                    <label><i class="fas fa-user"></i>&nbsp;&nbsp;Username</label>
                    <input type="email" class="form-control" placeholder="Mobile or Email">
                </div>
               
                <div class="form-group">
                    <label for="pwd"><i class="fas fa-lock"></i>&nbsp;&nbsp;Password</label>
                    <input type="password" class="form-control" placeholder="Password" id="pwd">
                </div>
              </form>
              <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6">
                  <div >
                    <a routerLink='' style="color: black; font-family: 'Times New Roman';letter-spacing: 1px;">Forget Password?</a>
                </div>
                </div>
              </div>
                  </mat-card-content>
                  <mat-card-actions style="text-align: center;" >
                    <button class="ButtonViewAll" mat-raised-button >SIGN IN</button>
                    <h4 class class="LoginSubtitle">OR</h4>
                      <button class="ButtonViewAll" mat-raised-button (click)="requestOTP()" >REQUEST OTP</button>
                      <h4 class class="LoginSubtitle"><hr/> New User</h4>
                      <button class="ButtonViewAll" mat-raised-button (click)="signUp()">SIGN UP</button>
                  </mat-card-actions>
          </div>
          <div class="col-lg-2">
          </div>
      </div>
  </mat-card>
  </div>
  <div class="col-lg-3">
  </div>
</div>
<!--END OF LOGIN FORM-->
</div>




<router-outlet></router-outlet>